title = "About"
url = "/"
layout = "default"
==

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>About</h2>
            <hr class="star-light">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
		    <p>I am a freelancer from Arizona. I like to build websites for my day job and I like to entertain myself with music during the day. I studied at Glendale Commuinty College where I was introduced to web development.</p>
        </div>
        <div class="col-lg-4">
            <p>Weather I am applying everyday things to life or learning new things in advancing technology I am always advancing in web development some how. I plan to further my studies to the extent.</p>
        </div>
        <!--<div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="#" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Download Theme
            </a>
        </div> -->
    </div>
</div>